html{
    width: 1480px;
    height: 3750px;
    background-color: #FFFFFF;
    margin: 0; padding: 0;
    box-sizing: border-box;
    position: relative;
}

@font-face {
    font-family: SFMono;
    src: url(font/SFMonoLight.otf);
}

@font-face {
    font-family: NewYorkExtra;
    src: url(font/NewYorkExtraLargeRegular.otf);
}

@font-face {
    font-family: NewYorkSmall;
    src: url(font/FontsFree-Net-NewYorkSmallRegularItalic.ttf);
}

@font-face {
    font-family: SFProText;
    src: url(font/SFProText-Light-1.ttf);
}

@font-face {
    font-family: SFProDisplay;
    src: url(font/SFPRODISPLAYREGULAR.OTF);
}

.navbar{
    position: absolute;
    width: 100%;
    height: 133px;
    top:0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-between;
}

.navbar .logo{
    position: absolute;
    width: 395.83px;
    height: 37.53px;
    left: 63.58px;
    top: 52.54px;
    font-family: NewYorkExtra;
    flex: 1;
    align-items: center;
    
}

#menu ul{
    justify-content: space-between;
    line-height: 114px;
    letter-spacing: 12%;
    padding-left: 938px;
    
}

.nav li {
    display: inline-block;
    padding: 0 ;
    margin: 0 15px;
    
}

.nav li a{
    color: black;
    text-decoration: none;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;

}

.nav li:hover{
    border-bottom: solid 2.3px #000;
    transform: rotateX('angle');
}

.main_content{
    position: relative;
}

.main_content .image_content{
    max-height: 533px;
    max-width: 854px;
    margin: 205px auto;
}

.main_content img{
    width: 100%;
    object-fit: cover;
}

.main_content .text_content{
    text-align: center;
    justify-content: space-between;
    display: block;
    max-width: 858px;
    max-height: 162px;
    padding-left: 293px;
    margin-top: -154px;
}

.main_content h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 53px;
    text-align: center;
    font-family: 'NewYorkExtra';
    color: #000000;
    margin: 50px;
}

.main_content p{
    font-family: SF Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    /* or 34px */
    justify-content: space-between;
    text-align: center;
    color: #000000;
    max-width: 468px;
    max-height: 68px;
    margin-left: 188px;
    margin-top: -20px;
    letter-spacing: 1.2px;
}

.line{
    position: absolute;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 868px;

    border: 2px solid #000000;
}

.articles .text_content{
    text-align: center;
    justify-content: space-between;
}

.articles h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    font-family: 'NewYorkExtra';
    color: #000000;
    margin-top: 200px;
    max-height: 53px;
}

.articles .main_articles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 28px;
    max-width: 640px;
    margin-left: 404px;
}

.main_articles .box_container img{
    max-width: 100%;
    object-fit: cover;
}

.main_articles .box_container img:hover{
    transform: scale(1.1);
}

.main_articles .box_container p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */

    text-align: center;

    color: #000000;
    max-width: 262px;
    max-height: 78px;
    overflow: hidden;
    padding-left: 18px;

}

.footer .box_footer{
    
    max-width:100%;
    height: 464px;
    background-color: #000000;
    margin-top: 139px;

}

.main_footer .nav_bar{
    padding: 0;
}

.main_footer li{
    display: inline-block;
    margin-top: 18px;
    align-items: center;
    justify-content: center;
}

.main_footer .nav1{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    padding: 0 12px;
    font-family: 'SFMono';
}

.main_footer .nav2{
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
}

.box_footer .logo{
    background-color: #000000;
    margin: 100.12px auto;
    padding-left: 574.55px;
}

.box_footer .logo img{
    max-width: 290px;
    max-height: 27.3px;
}

.box_footer .footer_p{
    width: 488px;
    height: 71px;
    margin-top: -80.58px;
    padding-left: 476PX;
    font-family: 'New York Small';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;

    color: #FFFFFF;
    letter-spacing: 1px;
}

.box_footer .links{
    padding-left: 570px;
}

.box_footer .links li{
    display: inline-block;
    padding: 0 13.5px;
    margin-top: 17px;
}

.box_footer .links a{
    color: #FFFFFF;
    text-align: center;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */

    text-decoration-line: underline;

    color: #FFFFFF;
}

.box_footer .comment{
    width: 178px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */

    text-align: center;

    color: #FFFFFF;
    letter-spacing: 1px;
    padding-left: 630px;
    margin-top: 64px;
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    
}

@media(max-width:768px){
    #menu{
        display: inline-block;
    }
    .nav{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #000000;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }

    .nav.active{
        clip-path: polygon(0 0, 100% 0,100% 100%, 0 100%);
    }

    .nav>a{
        margin: 2em;
        font-size: 2em;
        display: block;
    }


}